@CHARSET "utf-8";

body {
	background-color: #FAFAFA;
	padding: 10px;
}

#logo {
	letter-spacing: -1px;
}

input {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

.box {
	width: 680px;
	padding: 10px 0;
}

#post-input-uid{
	color: graytext;
	padding-left: 10px;
}

.letter-name{
	font-size: 115%;
	font-weight: bold;
}

.letter-uid{
	padding-left: 10px;
	color: graytext;
}

.letter-time{
	color: graytext;
	float: right;
}

.letter-text{
	font-size: 115%;
	padding: 5px 0 0 10px;
}
